.container{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc((100% - 15px *  4) / 4);
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form{
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form {
    text-align: center;
    margin-top: 20px;
    
}